@{
    ViewData["Title"] = "Our story";
}
<h1>Our Story</h1>

<div class="containerFirstLetterBig">
    <p>
        We are badminton enthusiasts and want to contribute to this wonderful sport.
    </p>
    <hr>
    <p>
        By playing this amazing sport, we always had amazing ideas for badminton players which led to formation of this club.
    </p>
</div>


<h1>Our Mission</h1>

<div class="containerFirstLetterBig">
    <p>
        Our aim is to bring this wonderful sport to everyone.
    </p>
    <hr>
    <p>
        <span class="text-decoration-underline">For professional players</span> : We are here to help you with your badmniton training and take it to next level.
        <br />
         <span class="text-decoration-underline">For beginners</span> : We are ready to help you get into this wonderful sport. We provide everything you need. All you need to come with is game spirit.
    </p>
    <p>Our club is open to everyone regardless of race, religion, national origin, gender, age or playing ability</p>
</div>


<h1>Training Facility</h1>

<div class="containerFirstLetterBig">
    <p>
        We are currently bulding the newest and the best courts with international standards.
    </p>
    <hr>
    <p>
       
    </p>
</div>

@*<h1>Staff</h1>

<div class="containerFirstLetterBig">
    <p>
        We are currently bulding the newest and the best courts with international standards.
    </p>
    <hr>
    <p>
       
    </p>
</div>
*@
