@{
    ViewData["Title"] = "Home Page";
}
  <br />
  


<div class="container">
    <div class="row">
        <div class = "col-md-6">
            <br />
            <br />
  <br />
            <h1 class="display-1 lh-1 mb-3">Dear Badminton lovers !  
                
                <br />
                <br />
                <br />
                We have a great news for you</h1>
             <p class="lead fw-normal text-muted mb-5">Come back here for more information !</p>
             <div class="text-center zoom-in">


    @*<div class="comingSoon">
        <div class="words word-1">
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
        </div>
        <div class="words word-2">
            <span>S</span>
            <span>O</span>
            <span>O</span>
            <span>N</span>
        </div>
    </div>*@

</div>

        </div>

        <div class = "col-md-6">
            <div class="homePageRight">
                <img src="~/Images/4.jpeg" class="img-thumbnail"/>
            </div>
            
        </div>
    </div>
</div>

@*<div class="text-center zoom-in">
    <h1 class="display-4">Dear Badminton lovers ! <br />We have a great news for you</h1>
</div>

<div class="text-center zoom-in">
    <div class="comingSoon">
        <div class="words word-1">
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
        </div>
        <div class="words word-2">
            <span>S</span>
            <span>O</span>
            <span>O</span>
            <span>N</span>
        </div>
    </div>
</div>
*@




